html{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    background-color: aqua;
    text-align: center;
    box-sizing: border-box;
}

h1{
    font-size: 2rem;
}

span{
    font-size: 1.5rem;
}

button{
    font-size: 1.7rem;
    margin: 10px;
}

.button-wrapper{
    display: inline-flex;
}

.timer-wrapper{
    display: block;
}